h1, h2, h3, h4, h5, h6
  text-align center
  font-weight bold

h1
  font-size 200%
h2
  font-size 183.334%
h3
  font-size 166.667%
h4
  font-size 150%
h5
  font-size 133.334%
h6
  font-size 116.667%
p
  font-size 1.5em

.cpx-img
  vertical-align center
  text-align center
  padding 1.5em

a
  text-align center

.head
  height 41em
  background-color #353E9A
  color #fdf6e3

body 
  color #6f5499

.border
  border 0.125em solid #353E9A
  padding-top 0.40em
  padding-bottom 0.40em

.smb
  padding 0.5em

.huge
  font-size 500%

.big
  font-size 250%
  padding 0.25em

.cpxTitle
  color #2aa198
  font-weight 800
  text-decoration underline
  padding-bottom 0.75em

.cpx-center
  text-align center

.text-center
  text-align center

#commandOutput
  text-align left
  padding 0.25em

.cpx-btn
  margin 0.25em
  border 0.25em solid #353E9A

.med
  font-size 175%

.text-padding
  padding 0.25em
