br
br
br
br
br

h1.huge COMING SOON&trade;
h6 1.8 Commands and Contraption thingies...

h1.cpxTitle Commands
br
div.container
  div.row
    div.col-xs-12.border
      ul.nav.nav-pills.nav-stacked
        li
          a(href="#" class="nav-link") Text Here

h1.cpxTitle Generators
br
div.container
  div.row
    div.col-xs-12.border
      ul.nav.nav-pills.nav-stacked
        li
          a(href="#" class="nav-link") Text Here

h1.cpxTitle Other
br
div.container
  div.row
    div.col-xs-12.border
      ul.nav.nav-pills.nav-stacked
        li
          a(href="#" class="nav-link") Text Here

