br
br
br
br
br

h1 1.9 Commands and Contraption thingies...
p.med These have been discontinued due to the release of 1.9 and its changes in early (I hope!) 2016.

h1.cpxTitle Commands
br
div.container
  div.row.border
    div.col-xs-12
      ul.nav.nav-pills.nav-stacked
        li
          a(href="#" class="nav-link") Text Here

h1.cpxTitle Generators
br
div.container
  div.row.border
    div.col-xs-12
      ul.nav.nav-pills.nav-stacked
        li
          a(href="/detect_generator.html" class="nav-link") Detect Command Generator

h1.cpxTitle Other
br
div.container
  div.row.border
    div.col-xs-12
      ul.nav.nav-pills.nav-stacked
        li
          a(href="#" class="nav-link") Text Here
