:markdown
  #Hello
  ##What do I do?
    ##### &bull; I am lead developer for [BlockMC][blockmc]
    ##### &bull; I wrote this website using [Jade][jade], [Stylus][stylus], and [Markdown][markdown].   

  [blockmc]: http://blockmc.us
  [jade]: http://jade-lang.com
  [stylus]: https://learnboost.github.io/stylus
  [markdown]: http://daringfireball.net/projects/markdown
  [skilstak]: http://skilstak.com
