doctype html
html
  head
    title CoderPythonX
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/base.css")
    link(rel="stylesheet" href="/css/main.css")
    // if public._data.color_scheme.solarized_light  
      // link(rel="stylesheet" href="solarized-light.css")
      // link(rel="stylesheet" href="main.css")
      // link(rel="stylesheet" href="box.css")
    // else if public._data.color_scheme.solarized_dark
      // link(rel="stylesheet" href="solarized-dark.css")
      // link(rel="stylesheet" href="main-dark.css")
      // link(rel="stylesheet" href="box-dark.css")
    // link(rel="stylesheet" href="colors-solarized.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="icon" href="favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          div.navbar-header
            a(href="/" class="navbar-brand") CoderPythonX
          ul.nav.navbar-nav
            li
              a(href="/programming_languages.html" class="nav-link")
                i.fa.fa-code.fa-lg  Programming Languages
            li
              a(href="/school.html" class="nav-link")
                i.fa.fa-graduation-cap.fa-lg  School
    != yield
    
    footer
      nav.navbar.navbar-inverse.navbar-fixed-bottom
        div.container-fluid
          div(role="group" class="btn-group")
            a(class="github-button btn btn-info" href="https://github.com/ntkme/github-buttons" data-icon="octicon-star" data-style="mega" data-count-href="/ntkme/github-buttons/stargazers" data-count-api="/repos/ntkme/github-buttons#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub") Star
          
      // script(type="text/javascript" src="js/bootstrap.js")
      
