doctype html
html
  head
    title CoderPythonX
    link(rel="stylesheet" href="bootstrap.css")
    link(rel="stylesheet" href="solarized-dark.css")
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  body
    != yield
  foot
    pre
      h5 CoderPythonX 
        i.fa.fa-fighter-jet
  script(type="text/javascript" src="bootstrap.js")
