doctype html
html
  head
    title CoderPythonX
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/base.css")
    link(rel="stylesheet" href="/css/main.css")
    // if public._data.color_scheme.solarized_light  
      // link(rel="stylesheet" href="solarized-light.css")
      // link(rel="stylesheet" href="main.css")
      // link(rel="stylesheet" href="box.css")
    // else if public._data.color_scheme.solarized_dark
      // link(rel="stylesheet" href="solarized-dark.css")
      // link(rel="stylesheet" href="main-dark.css")
      // link(rel="stylesheet" href="box-dark.css")
    // link(rel="stylesheet" href="colors-solarized.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="icon" href="favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          div.navbar-header
            a(href="/" class="navbar-brand") CoderPythonX
          ul.nav.navbar-nav
            li
              a(href="/programming_languages.html" class="nav-link")
                i.fa.fa-code.fa-lg  Programming Languages
            li
              a(href="/school.html" class="nav-link")
                i.fa.fa-graduation-cap.fa-lg  School
    != yield
    
    footer
      nav.navbar.navbar-inverse.navbar-fixed-bottom
        a(class="github-button smb" href="https://github.com/tslnc04/website" data-icon="octicon-star" data-style="mega" data-count-href="/tslnc04/website/stargazers" data-count-api="/repos/tslnc04/website#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star tslnc04/website on GitHub") Star
        a(class="github-button smb" href="https://github.com/tslnc04" data-style="mega" data-count-href="/tslnc04/followers" data-count-api="/users/tslnc04#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @tslnc04 on GitHub") Follow @tslnc04
      script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")
    // script(type="text/javascript" src="js/bootstrap.js")
      
