br
br
br
br
br

h1 Welcome to the API
h3 (Basically a place to dump files)
br
h2 List of files:
br
div.container
  div.row
    div.col-xs-12
      ul.cpx-center
        li
          a(href="./api/MacBookAir.json").btn.btn-danger.btn-lg MacBookAir.json
          br
        li
          a(href="./api/pytherium.comm").btn.btn-danger.btn-lg pytherium.comm   
          br
        li
          a(href="./api/pytherium.txt").btn.btn-danger.btn-lg pytherium.txt
          br
        li
          a(href="./api/yellowPytherium.comm").btn.btn-danger.btn-lg yellowPytherium.comm
          br
        li
          a(href="./api/yelloPytherium.txt").btn.btn-danger.btn-lg yellowPytherium.txt
          br
