.box-lg
  padding 6px
  margin 8px
  border 8px solid #93a1a1
  text-align center
.box-lg p
  font-weight bold
  font-size 18px
  color #dc322f
.box-md
  padding 4px
  margin 8px
  border 6px solid #93a1a1
  text-align center
.box-md p
  font-weight 600
  font-size 16px
  color #dc322f
.box-sm
  padding 2px
  margin 8px
  border 4px solid #93a1a1
  text-align center
.box-sm p
  font-weight 500
  font-size 14px
  color #dc322f
