.box-lg
  padding 6px
  margin 8px
  border 8px solid #93a1a1
  text-align center
.box p
  font-weight bold
  font-size 18px
  color #dc322f
.box-md
  padding 4px
  margin 6px
  border 6px solid #93a1a1
  text-align center
