br
br
br
br
br

h1.huge Updates on Charged Tools V2
div(style="text-align:center")
  p.big So, after coming up with ideas, here is a rundown of some new features.
  br
  p.med Tools never break!!! This system which is currently 29 command blocks without even adding in the new tools *spoiler*. You will get weakness for weapons, and mining fatiuge (however you spell it) and the axe will have both.
  br
  p.med Improved structure  Wow, that old one was horrid.
  br
  p.med Having to charge batteries! ON a structure
  br
  p.med Charger  You have to charge your tools!
  br
  p.med New Tools and Weapons
  br
  ul
    li.med Katana - A swift weapon with little attack cooldown
    li.med I ran out of ideas :-(

br
br
br
br
br
