br
br
br
br
br

h1 Charged Tools in One Command V1
h2 For Minecraft&trade; Version 1.9 (15w51b)
br
h3#install.med Installation
br
div.container
  div.row
    div.col-xs-12
      ul
        li
          p.med Click on the link and copy the command.
        li
          p.med In Minecraft&trade;, type <code>/give @p minecraft:command_block</code>
        li
          p.med Right click on the command block and paste in the command
        li
          p.med On the right, click on <code>Needs Redstone</code> It should now say <code>Always Active</code>
        li
          p.med Click <code>Done</code> and the contraption should now appear
      br
      br
      a(href="http://pastebin.com/p5cqpJ0u").btn.btn-danger.btn-lg.text-center Get Command! 
      br
      br
      a(href="http://pastebin.com/FZbrP3kB").btn.btn-danger.btn-lg.text-center Get Command! (Hopper Clock) 

br
h3#wiki.med Wiki
br
div.container
  div.row
    div.col-xs-6
      ul
        li
          p.med To get a battery, you need to stand on top of a tower of lapis, redstone, and diamond, in that order.
        li
          p.med If you throw the battery and an iron tool on the ground, you will get that tool, but charged.
        li
          p.med This version is going to be replaced by a much better command in a bit.
    div.col-xs-6
      img(alt="Work In Progress")

br
h3#credit.med Credit This
br
p.med.text-center You <strong><em>MUST</em></strong> copy and paste this into the description of your video. (Preferably not the bottom)
br
pre
  code
    p.text-center Charged Tools V1 by CoderPythonX
    p.text-center Website: 
      a(href="http://bit.ly/1kA9Er1") http://bit.ly/1kA9Er1

br
br
br
br
br
