br
br
br
br
br

h1 Charged Tools in One Command V1
h2 For Minecraft&trade; Version 1.9 (15w51b)

h3#install Installation
div.container
  div.row
    div.col-xs-12.center
      ul
        li
          p.med • Click on the link and copy the command.
        li
          p.med • In Minecraft&trade;, type <code>/give @p minecraft:command_block</code>
        li
          p.med • Right click on the command block and paste in the command
        li
          p.med • On the right, click on <code>Needs Redstone</code> It should now say <code>Always Active</code>
        li
          p.med • Click <code>Done</code> and the contraption should now appear
      a(href="http://pastebin.com/p5cqpJ0u").btn.btn-danger.btn-lg Get Command!

br
h3#wiki Wiki
h5 This part is a work in progress! Come back later.
br
h3#credit Credit This
h4 You <strong><em>MUST</em></strong> copy and paste this into the description of your video. (Preferably not the bottom)
p.med Charged Tools V1 by CoderPythonX
p.med Website: 
  a(href="http://bit.ly/1kA9Er1").med http://bit.ly/1kA9Er1

br
br
