br
br
br
br
br

h1.cpxTitle Detect Command Generator
h3 1.8+ (Will work in snapshots)

br
br
br

div.container
  div.row
    div.col-xs-12.col-md-6
      div.border
p.big Entity Selector: 
  input(name="entitySelector" type="text" id="entitySelector" style="font-size: 0.875em")

p.big Scoreboard Objective: 
  input(name="detectObjective" type="text" id="entitySelector" style="font-size: 0.875em")
  
p.big Scoreboard Amount: 
  input(name="detectAmt" type="text" id="entitySelector" style="font-size: 0.875em")
