br
br
br
br
br

h1.cpxTitle Detect Command Generator
h3 1.8+ (Will work in snapshots)

br
br
br

div.container
  div.row
    div.col-xs-12
      div.border
        h3.cpxTitle Main Options
        p.big Entity Selector: 
          input(name="entitySelector" type="text" id="entitySelector" style="font-size: 0.875em")

        p.big Scoreboard Objective: 
          input(name="detectObjective" type="text" id="detectObjective" style="font-size: 0.875em")
  
        p.big Scoreboard Amount: 
          input(name="detectAmt" type="text" id="detectAmt" style="font-size: 0.875em")
        p.big Entity Data (Optional): 
          input(name="entityData" type="text" id="entityData" style="font-size: 0.875em")

br
br
br

h3.cpxTitle Block Information
br
p
  input(name="blockInformation" type="text" id="blockInformation" size="128" style="font-size: 0.875em")
