br
br
br
br
br

h1.cpxTitle Detect Command Generator
h3 1.8+ (Will work in snapshots)
h6 By TSLNC04 

br
br
br

div.container
  div.row
    div.col-xs-12
      div.border
        h3.cpxTitle Main Options
        p.big Entity Selector: 
          input(name="entitySelector" type="text" id="entitySelector" style="font-size: 0.875em")

        p.big Scoreboard Objective: 
          input(name="detectObjective" type="text" id="detectObjective" style="font-size: 0.875em")
  
        p.big Scoreboard Amount: 
          input(name="detectAmt" type="text" id="detectAmt" style="font-size: 0.875em")
        p.big Entity Data (Optional): 
          input(name="entityData" type="text" id="entityData" style="font-size: 0.875em")

br
br
br

h3.cpxTitle Block Information
br
p.big
  textarea(name="blockInformation" id="blockInformation" rows="10" cols="128" style="font-size: 0.875em")
  
script(src="js/detectGenerator.js")

p.big
  input(id="generateCommand" type="button" value="Generate Command" onclick="generateDetectCommand();")

br
br
br
br
br
