br
br
br
br
br

h1.cpxTitle Detect Command Generator Alpha
h3 By TSLNC04
h6 1.8+ (Will work in snapshots)

br
br
br

div.container
  div.row
    div.col-xs-12
      div.border
        h3.cpxTitle Main Options
        p.big Entity Selector: 
          input(name="entitySelector" type="text" id="entitySelector" style="font-size: 0.875em")

        p.big Scoreboard Objective: 
          input(name="detectObjective" type="text" id="detectObjective" style="font-size: 0.875em")
  
        p.big Scoreboard Amount: 
          input(name="detectAmt" type="text" id="detectAmt" style="font-size: 0.875em")
          
        p.big Entity Data (Optional): 
          input(name="entityData" type="text" id="entityData" style="font-size: 0.875em")
        
        p.big Block Information Seperator: 
          input(name="blockInformationSeperator" type="text" id="blockInformationSeperator" style="font-size: 0.875em")
          
    div.col-xs-12
      br
      h3.cpxTitle Command
      div.border
        h6#commandOutput
br
br
br

script(src="js/detectGenerator.js")

h3.cpxTitle Block Information
p.big
  input(id="generateCommand" type="button" value="Generate Command" onclick="generateDetectCommand();")
br
p.big
  textarea(name="blockInformation" id="blockInformation" rows="10" cols="128" style="font-size: 0.875em")

br
br
br
br
br
