br
br
br
br
br

h1.cpxTitle Detect Command Generator
h3 1.8+ (Will work in snapshots)

br
br
br

p.big Entity Selector: 
  input(name="entitySelector" type="text" id="entitySelector" style="font-size: 0.875em")

p.big Entity Selector: 
  input(name="detectObjective" type="text" id="entitySelector" style="font-size: 0.875em")
