br
br
br
br
br

h1.med Image Generator

div.container
  div.row
    div.col-xs-3.border.cgrid.center
    div.col-xs-3.border.cgrid.center
    div.col-xs-3.border.cgrid.center
  div.row
    div.col-xs-3.border.cgrid.center
    div.col-xs-3.border.cgrid.center
    div.col-xs-3.border.cgrid.center
  div.row
    div.col-xs-3.border.cgrid.center
    div.col-xs-3.border.cgrid.center
    div.col-xs-3.border.cgrid.center

br
br
br
br
br
