br
br
br
br
br

h1.med Image Generator

div.container.center
  div.row
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
  div.row
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
  div.row
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
br
br

// Run a function to color the grid
a(href="javascript:void(0)").btn.btn-lg.btn-success Generate Img

br
br
br
br
br
