br
br
br
br
br

h1.med Image Generator

div.container
  div.row.center
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
  div.row.center
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
  div.row.center
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid
    div.col-xs-3.border.cgrid

br
br
br
br
br
