div.box-lg
  h1 Hello
  h2 What do I do?
  div.list
    h5 &bull; I am the Lead Developer for 
      a(href="http://blockmc.us") BlockMC
    h5 &bull; More coming Soon&trade;
div.box-md
  h3 Resources
  h5 Thank you to all of the people who made these resources that are used to make this website!
  div.container
    div.row
      div.col-xs-12.col-md-6.col-lg-3
        ul.nav.nav-pills
          li
            a(href="http://jade-lang.com") Jade
      div.col-xs-12.col-md-6.col-lg-3
        ul.nav.nav-pills
          li
            a(href="http://www.w3.org/Style/CSS/Overview.en.html") HTML
      div.col-xs-12.col-md-6.col-lg-3
        ul.nav.nav-pills
          li
            a(href="http://learnboost.github.io/stylus") Stylus
      div.col-xs-12.col-md-6.col-lg-3
        ul.nav.nav-pills
          li
            a(href="http://www.w3.org/Style/CSS/Overview.en.html") CSS
    div.row
      div.col-xs-12.col-lg-4
        ul.nav.nav-pills
          li
            a(href="http://daringfireball.net/projects/markdown") Markdown
        ul.nav.nav-pills
          li
            a(href="http://harpjs.com/") Harp
        ul.nav.nav-pills
          li
            a(href="http://getbootstrap.com/") Bootstrap
      div.col-xs-12.col-md-6.col-lg-3
        ul.nav.nav-pills
          li
            a(href="http://ethanschoonover.com/solarized") Solarized Colors
:markdown
  [blockmc]: http://blockmc.us
  [jade]: http://jade-lang.com
  [stylus]: https://learnboost.github.io/stylus
  [markdown]: http://daringfireball.net/projects/markdown
  [skilstak]: http://skilstak.com
