div.box-md
  h1 Hello
  h2 What do I do?
  div.list
    h5 &bull; I am the Lead Developer for 
      a(href="http://blockmc.us") BlockMC
    h5 &bull; More coming soon...

:markdown
  [blockmc]: http://blockmc.us
  [jade]: http://jade-lang.com
  [stylus]: https://learnboost.github.io/stylus
  [markdown]: http://daringfireball.net/projects/markdown
  [skilstak]: http://skilstak.com
