div.head
  
  h5 &bull; I am the Lead Developer for 
    a(href="http://blockmc.us") BlockMC
    h5 &bull; More coming Soon&trade;
    h3 Resources
    br
    h6 Thank you to all of the people who made these resources that are used to make this website!

  div.container
    div.row
      div.col-xs-12.col-md-6.col-lg-4
        ul.nav.nav-pills.nav-stacked
          li
            a(href="http://jade-lang.com") Jade
          li
            a(href="http://www.w3.org/Style/CSS/Overview.en.html") HTML
          li
            a(href="https://github.com/skilstak/skilstak.io/blob/master/public/styles/colors-solarized.styl") Solarized Colors Stylus
      div.col-xs-12.col-md-6.col-lg-4
        ul.nav.nav-pills.nav-stacked
          li
            a(href="http://learnboost.github.io/stylus") Stylus
          li
            a(href="http://www.w3.org/Style/CSS/Overview.en.html") CSS
          li
            a(href="http://daringfireball.net/projects/markdown") Markdown
      div.col-xs-12.col-md-6.col-lg-4
        ul.nav.nav-pills.nav-stacked
          li
            a(href="http://harpjs.com/") Harp
          li
            a(href="http://getbootstrap.com/") Bootstrap
          li
            a(href="http://ethanschoonover.com/solarized") Solarized Colors
  br
  br
  br
