br
br
br
br
br

div.container
  div.row
    div.col-xs-12.col-md-6
      ul.nav.nav-pills.nav-stacked.border
        li
          a(href="./18.html") 1.8 Commands
        li
    div.col-xs-12.col-md-6
      ul.nav.nav-pills.nav-stacked.border
        li
          a(href="javascript:void(0);") Text Here
