h1, h2, h3, h4, h5, h6
  text-align center
.thank
  padding-top 25px
  padding-right 25px
  padding-bottom 25px
  padding-left 25px
li
  text-align center
.box
  margin 8px
  border 8px solid #93a1a1
.news
  margin 24px
