h1, h2, h3, h4, h5, h6
  text-align center
.thank
  padding-top 25px
  padding-right 25px
  padding-bottom 25px
  padding-left 25px
li
  text-align center
.box
  padding-top 4px
  padding-bottom 4px
  padding-right 4px
  padding-left 4px
  margin 8px
  border 8px solid #93a1a1
  text-align center
.box p
  font-weight bold
  font-size 18px
  color #dc322f
.news
  margin 24px
.updated
  font-size 1.5em
  color #d33682
  text-align center
  padding 4px
.list
  text-align left
  color #dc322f
.article
  text-align center
  font-size 1.25em
.text-padding
  padding 4px
  max-width 10cm
