h1, h2, h3, h4, h5, h6
  text-align center
.thank
  padding-top 25px
  padding-right 25px
  padding-bottom 25px
  padding-left 25px
.box
  border 2pt solid #93a1a1
  padding-top 25px
  padding-right 25px
  padding-bottom 25px
  padding-left 25px
  text-decoration none
  text-align center
.box-title
  font-size 1.5em
.box-subtitle
  font-size 1em
