br
br
br
br
br

div.container
  div.row
    div.col-xs-12.col-md-6
      ul.nav.nav-pills.nav-stacked.border
        li
          a(href="./19.html") 
            i.fa.fa-terminal  Minecraft 1.9 "Contraptions"
        li
    div.col-xs-12.col-md-6
      ul.nav.nav-pills.nav-stacked.border
        li
          a(href="./tne.html")
            i.fa.fa-paint-brush  Tomorrow Night Eighties Cheat Sheet
        li
          a(href="./tn.html")
            i.fa.fa-paint-brush  Tomorrow Night Cheat Sheet
        li
          a(href="./tnbr.html")
            i.fa.fa-paint-brush  Tomorrow Night Bright Cheat Sheet
        li
          a(href="./t.html")
            i.fa.fa-paint-brush  Tomorrow Cheat Sheet
        li
          a(href="./tnb.html")
            i.fa.fa-paint-brush  Tomorrow Night Blue Cheat Sheet
