br
br
br
br
br

div.container
  div.news
    div.box-lg
      div.row
        h1 News
        for _article in public._data.articles
          div.col-xs-12.col-md-6
            div.btn.btn-success.btn-lg
              a(href="#{_article.slug}")
                h2 #{_article.title}
              p.med #{_article.summary}
                a(href="#{_article.slug}")  ...more
if public._data.news.disqus
  include _disqus.html
