h1 So...
h3 You wanted to know what languages I program in.
h3 Well... Here is the list...

ul.nav.nav-pills.nav-stacked
  li.active.text-padding
    a(href="http://python.org" class="text-center") Python 3
  li.active.text-padding
    a(href="http://www.w3.org/html/" class="text-center") HTML 5
  li
