br
br
br
br
br

h1 So...
h3 You wanted to know what languages I program in.
h3 Well... Here is the list...

br
br
br

div.container
  div.row
    div.col-xs-12.col-md-4
      ul.nav.nav-pills.nav-stacked
        li.active.text-padding
          a(href="http://www.w3.org/html/" class="text-center") HTML
        li.active.text-padding
          a(href="http://jade-lang.com" class="text-center") Jade
        li.active.text-padding
          a(href="http://www.w3.org/Style/CSS/Overview.en.html" class="text-center") CSS
        li.active.text-padding
          a(href="https://learnboost.github.io/stylus" class="text-center") Stylus
    div.col-xs-12.col-md-4
      ul.nav.nav-pills.nav-stacked
        li.active.text-padding
          a(href="http://python.org" class="text-center") Python
        li.active.text-padding
          a(href="https://java.com/en/" class="text-center") Java 1.7 (Java 7)
    div.col-xs-12.col-md-4
      ul.nav.nav-pills.nav-stacked
        li.active.text-padding
          a(href="https://www.gnu.org/software/bash/" class="text-center") Bash

  br
  div.row
    div.col-xs-12.text-center
      p.med There are waaaaaay too many web languages!
if public._data.programming_languages.disqus
  include _disqus.html
