h1 School Work
h3 Teachers, please select your class to see the work.

ul.nav.nav-pills.nav-stacked
  for _class in public._data.classes
    li
      a(href="#{_class.slug}")
        i(class="#{_class.icon}")  #{_class.name}
p.tired These links do not function. Sorry for the issue, CoderPythonX
