h1 Solarized Cheat Sheet
h2 Colors by Ethan Schoonover

h5 WIP

for _color in public._data.colors
  if see
    p(class="#{_color.class} cdisplay") #{_color.name}: #{_color.hex}
  else
    p(class="#{_color.bgclass}")
