- var color = ["base03bg","base02bg","base01bg","base00bg","base0bg","base1bg","base2bg","base3bg","yellow",""]

h1 Solarized Cheat Sheet
h2 Colors by Ethan Schoonover

div.container
  div.row
    div.col-xs-12.col-md-6.col-lg-3
      div.base03bg
        p Base03
      div.base02bg
