- var colors = ["base03bg","base02bg","base01bg","base00bg","base0bg","base1bg","base2bg","base3bg","syellowbg","sorangebg","sredbg","smagentabg","svioletbg","sbluebg","scyanbg","sgreenbg"]
- var color_names = ["Base03", "Base02","Base01","Base00","Base0","Base1","Base2","Base3","Yellow","Orange","Red","Magenta","Violet","Blue","Cyan","Green"]
h1 Solarized Cheat Sheet
h2 Colors by Ethan Schoonover

for _color in public._data.colors
  div(class="#{_color.}")
