
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow

br
br

div.container
  div.row
    div.col-xs-12
      ul

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ffffff;").btn.btn-info Background &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #ffffff

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#efefef;").btn.btn-info Current Line &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #efefef

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#d6d6d6;").btn.btn-info Selection &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #d6d6d6

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#4d4d4c;").btn.btn-info Foreground &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #4d4d4c

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#8e908c;").btn.btn-info Comment &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #8e908c

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#c82829;").btn.btn-info Red &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #c82829

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#f5871f;").btn.btn-info Orange &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #f5871f

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#eab700;").btn.btn-info Yellow &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #eab700

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#718c00;").btn.btn-info Green &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #718c00

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#3e999f;").btn.btn-info Aqua &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #3e999f

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#4271ae;").btn.btn-info Blue &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #4271ae

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#8959a8;").btn.btn-info Purple &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #8959a8

          br
          br
          br
br
br
br
br
