
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow Night Eighties
ul
  li
      a(href="javascript:void(0);" style="color:#ffffff").btn.btn-default &#9608;&#9608;&#9608;&#9608; --> #ffffff
  li
      a(href="javascript:void(0);" style="color:#000000").btn.btn-default &#9608;&#9608;&#9608;&#9608; --> #000000

