h1 My Work for Mr. Thrift's Social Studies Class
h3 All documents are password protected for security on the internet.

div.container
  div.row
    div.col-xs-12.md-6
      ul.nav.nav-pills.nav-stacked
        li
          a(href="http://github.com/tslnc04/school/raw/master/ss2102015.pages") Mesopotamia Story
        li
          a(href="") Mesopotamia GREASES
