
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow Night

br
br

div.container
  div.row
    div.col-xs-12
      ul

        li.cpx-center
          a(href="javascript:void(0);" style="color:#1d1f21;").btn.btn-info Background &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #1d1f21

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#282a2e;").btn.btn-info Current Line &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #282a2e

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#373b41;").btn.btn-info Selection &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #373b41

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#c5c8c6;").btn.btn-info Foreground &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #c5c8c6

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#969896;").btn.btn-info Comment &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #969896

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#cc6666;").btn.btn-info Red &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #cc6666

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#de935f;").btn.btn-info Orange &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #de935f

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#f0c674;").btn.btn-info Yellow &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #f0c674

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#b5bd68;").btn.btn-info Green &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #b5bd68

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#8abeb7;").btn.btn-info Aqua &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #8abeb7

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#81a2be;").btn.btn-info Blue &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #81a2be

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#b294bb;").btn.btn-info Purple &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #b294bb

          br
          br
          br
br
br
br
br
