
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow Night Blue

br
br

div.container
  div.row
    div.col-xs-12
      ul

        li.cpx-center
          a(href="javascript:void(0);" style="color:#002451;").btn.btn-info Background &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #002451

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#00346e;").btn.btn-info Current Line &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #00346e

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#003f8e;").btn.btn-info Selection &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #003f8e

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ffffff;").btn.btn-info Foreground &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #ffffff

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#7285b7;").btn.btn-info Comment &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #7285b7

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ff9da4;").btn.btn-info Red &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #ff9da4

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ffc58f;").btn.btn-info Orange &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #ffc58f

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ffeead;").btn.btn-info Yellow &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #ffeead

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#d1f1a9;").btn.btn-info Green &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #d1f1a9

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#99ffff;").btn.btn-info Aqua &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #99ffff

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#bbdaff;").btn.btn-info Blue &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #bbdaff

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ebbbff;").btn.btn-info Purple &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #ebbbff

          br
          br
          br
br
br
br
br
