
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow Night Bright

br
br

div.container
  div.row
    div.col-xs-12
      ul

        li.cpx-center
          a(href="javascript:void(0);" style="color:#000000;").btn.btn-info Background &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #000000

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#2a2a2a;").btn.btn-info Current Line &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #2a2a2a

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#424242;").btn.btn-info Selection &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #424242

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#eaeaea;").btn.btn-info Foreground &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #eaeaea

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#969896;").btn.btn-info Comment &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #969896

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#d54e53;").btn.btn-info Red &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #d54e53

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#e78c45;").btn.btn-info Orange &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #e78c45

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#e7c547;").btn.btn-info Yellow &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #e7c547

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#b9ca4a;").btn.btn-info Green &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #b9ca4a

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#70c0b1;").btn.btn-info Aqua &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #70c0b1

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#7aa6da;").btn.btn-info Blue &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #7aa6da

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#c397d8;").btn.btn-info Purple &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608; --> #c397d8

          br
          br
          br
br
br
br
br
