
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow Night Eighties

br
br

div.container
  div.row
    div.col-xs-12
      ul

        li.cpx-center
          a(href="javascript:void(0);" style="color:#2d2d2d;").btn.btn-info Background &#9608;&#9608;&#9608;&#9608; --> #2d2d2d

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#393939;").btn.btn-info Current Line &#9608;&#9608;&#9608;&#9608; --> #393939

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#515151;").btn.btn-info Selection &#9608;&#9608;&#9608;&#9608; --> #515151

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#cccccc;").btn.btn-info Foreground &#9608;&#9608;&#9608;&#9608; --> #cccccc

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#999999;").btn.btn-info Comment &#9608;&#9608;&#9608;&#9608; --> #999999

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#f2777a;").btn.btn-info Red &#9608;&#9608;&#9608;&#9608; --> #f2777a

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#f99157;").btn.btn-info Orange &#9608;&#9608;&#9608;&#9608; --> #f99157

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#ffcc66;").btn.btn-info Yellow &#9608;&#9608;&#9608;&#9608; --> #ffcc66

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#99cc99;").btn.btn-info Green &#9608;&#9608;&#9608;&#9608; --> #99cc99

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#66cccc;").btn.btn-info Aqua &#9608;&#9608;&#9608;&#9608; --> #66cccc

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#6699cc;").btn.btn-info Blue &#9608;&#9608;&#9608;&#9608; --> #6699cc

          br
          br

        li.cpx-center
          a(href="javascript:void(0);" style="color:#cc99cc;").btn.btn-info Purple &#9608;&#9608;&#9608;&#9608; --> #cc99cc

          br
          br
          br
br
br
br
br
