
br
br
br
br
br

h1 Colors Cheat Sheet for Tomorrow Night Eighties
div.container
  div.row
    div.col-xs-12
      ul
        li
            a(href="javascript:void(0);" style="color:#2d2d2d; background-color: #cdcdcd;").btn.btn-default Background &#9608;&#9608;&#9608;&#9608; --> #2d2d2d
        li
            a(href="javascript:void(0);" style="color:#393939; background-color: #cdcdcd;").btn.btn-default Current Line &#9608;&#9608;&#9608;&#9608; --> #393939
        li
            a(href="javascript:void(0);" style="color:#515151; background-color: #cdcdcd;").btn.btn-default Selection &#9608;&#9608;&#9608;&#9608; --> #515151
        li
            a(href="javascript:void(0);" style="color:#cccccc; background-color: #cdcdcd;").btn.btn-default Foreground &#9608;&#9608;&#9608;&#9608; --> #cccccc
        li
            a(href="javascript:void(0);" style="color:#999999; background-color: #cdcdcd;").btn.btn-default Comment &#9608;&#9608;&#9608;&#9608; --> #999999
        li
            a(href="javascript:void(0);" style="color:#f2777a; background-color: #cdcdcd;").btn.btn-default Red &#9608;&#9608;&#9608;&#9608; --> #f2777a
        li
            a(href="javascript:void(0);" style="color:#f99157; background-color: #cdcdcd;").btn.btn-default Orange &#9608;&#9608;&#9608;&#9608; --> #f99157
        li
            a(href="javascript:void(0);" style="color:#ffcc66; background-color: #cdcdcd;").btn.btn-default Yellow &#9608;&#9608;&#9608;&#9608; --> #ffcc66
        li
            a(href="javascript:void(0);" style="color:#99cc99; background-color: #cdcdcd;").btn.btn-default Green &#9608;&#9608;&#9608;&#9608; --> #99cc99
        li
            a(href="javascript:void(0);" style="color:#66cccc; background-color: #cdcdcd;").btn.btn-default Aqua &#9608;&#9608;&#9608;&#9608; --> #66cccc
        li
            a(href="javascript:void(0);" style="color:#6699cc; background-color: #cdcdcd;").btn.btn-default Blue &#9608;&#9608;&#9608;&#9608; --> #6699cc
        li
            a(href="javascript:void(0);" style="color:#cc99cc; background-color: #cdcdcd;").btn.btn-default Purple &#9608;&#9608;&#9608;&#9608; --> #cc99cc

